<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/heroic-features.css">
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Co-workspace</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling-->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav pull-right">
          <% if (user.local.email) { %>
            <li><a href="/submitspace" class="pull-right">Submit Space</a></li>
            <li><a href="#" class="pull-right">Welcome <%= user.local.email %></a></li>
            <li><a href="/logout" class="pull-right">Logout</a></li>
          <% } else { %>
            <li><a href="/login" class="pull-right">Login</a></li>
            <li><a href="/signup" class="pull-right">Register</a></li>
          <% } %> 
          </ul>
        </div>
        <!-- /.navbar-collapse-->
      </div>
      <!-- /.container-->
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="row">
            <form role="form">
              <div class="form-group">
                <input id="exampleInputEmail1" type="text" placeholder="Location" class="form-control">
              </div>
              <div class="form-group">
                <input id="exampleInputPassword1" type="text" placeholder="# of people" class="form-control">
              </div>
              <div class="form-group">
                <input id="exampleInputPassword1" type="text" placeholder="Duration" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>
          <div class="row">
            <h3>Filters</h3>
            <div class="checkbox">
              <label>
                <input type="checkbox">Wifi/internet
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">Desk
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">Laptop/workstation
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">Whiteboard
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">Meeting room
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">Drinking water
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">AC
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">Toilet
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">Accessible to disabled
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">Internship / Job
              </label>
            </div>
          </div>
        </div>
        <div style="padding-left:100px" class="col-md-8">
          <div class="row">
            <div class="col-md-1">
              <p>Pricing</p>
            </div>
            <div class="col-md-1">
              <div class="btn-group">
                <button type="button" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">7600<span class="caret"></span></button>
                <ul class="dropdown-menu"></ul>
              </div>
            </div>
            <div class="col-md-1">
              <p style="text-align:center">to</p>
            </div>
            <div class="col-md-1">
              <div class="btn-group">
                <button type="button" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">22600<span class="caret"></span></button>
                <ul class="dropdown-menu"></ul>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
              <p>Sort: Best Match / Low to High </p>
            </div>
          </div>
         
           
          <div class="row">
            <ul class="list-group">
             <% for (var i = 0; i < 5; i++) { %>
              <li>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="panel-more1"><img src="http://lorempixel.com/150/150"></div>
                    <div class="panel-info">
                      <p><strong><%= items.title %></strong></p>
                      <p> <%= items.desc %>
                        <div class="btn-group">
                          <button type="button" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">Map<span class="caret"></span></button>
                          <ul class="dropdown-menu"></ul>
                        </div>
                        <p><%= items.skill %></p>
                      </p>
                    </div>
                    <div class="panel-rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                      <p>4 Ratings</p>
                    </div>
                    <div class="panel-more1">
                      <div style="text-align:center">
                        <p style="font-size: 44px;"><%= items.price %></p>
                      </div><br>
                      <div style="text-align:center"><a href="#" class="btn btn-primary">Contact</a></div>
                    </div>
                  </div>
                </div>
              </li>
              <% } %>
              <li>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="panel-more1"><img src="http://lorempixel.com/150/150"></div>
                    <div class="panel-info">
                      <p><strong>Title for listing</strong></p>
                      <p>Short description of the listing<br>the description part...<br>here it ends...<br>
                        <div class="btn-group">
                          <button type="button" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">Map<span class="caret"></span></button>
                          <ul class="dropdown-menu"></ul>
                        </div>
                      </p>
                    </div>
                    <div class="panel-rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                      <p>3 Ratings</p>
                    </div>
                    <div class="panel-more1">
                      <div style="text-align:center">
                        <p style="font-size: 44px;">450€</p>
                      </div><br>
                      <div style="text-align:center"><a href="#" class="btn btn-primary">Contact</a></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="panel-more1"><img src="http://lorempixel.com/150/150"></div>
                    <div class="panel-info">
                      <p><strong>Title for listing</strong></p>
                      <p>Short description of the listing<br>the description part<br>here it ends....<br>
                        <div class="btn-group">
                          <button type="button" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">Map<span class="caret"></span></button>
                          <ul class="dropdown-menu"></ul>
                        </div>
                      </p>
                    </div>
                    <div class="panel-rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                      <p>4 Ratings</p>
                    </div>
                    <div class="panel-more1">
                      <div style="text-align:center">
                        <p style="font-size: 44px;">350€</p>
                      </div><br>
                      <div style="text-align:center"><a href="#" class="btn btn-primary">Contact</a></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="panel-more1"><img src="http://lorempixel.com/150/150"></div>
                    <div class="panel-info">
                      <p><strong>Title for listing</strong></p>
                      <p>Short description of the listing<br>the description part...<br>here it ends...<br>
                        <div class="btn-group">
                          <button type="button" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">Map<span class="caret"></span></button>
                          <ul class="dropdown-menu"></ul>
                        </div>
                      </p>
                    </div>
                    <div class="panel-rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                      <p>3 Ratings</p>
                    </div>
                    <div class="panel-more1">
                      <div style="text-align:center">
                        <p style="font-size: 44px;">945€</p>
                      </div><br>
                      <div style="text-align:center"><a href="#" class="btn btn-primary">Contact</a></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright © Findaspace 2014</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="/javascripts/jquery-1.8.3.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>